* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins";
}
.container {
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  min-height: 427px;
  background-color: #ffeec1;
}
h2 {
  font-family: "Poppins";
  color: #151519;
  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  /* padding-top: 51px; */
}
h1 {
  font-family: "Poppins";
  color: #151519;
  font-weight: 800;
  font-size: 28px;
  line-height: 28px;
  /* text-align: center; */
  padding-top: 51px;
}
.wrapper-img {
  max-width: 320px;
  width: 100%;
  min-height: 227px;
  position: relative;
  z-index: 100;
}
.first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.second {
  position: absolute;
  top: 120px;
  left: 0px;
  z-index: -1;
}
.third {
  position: absolute;
  top: 21px;
  z-index: 100;
  left: 98px;
}
.fourth {
  width: 121px;
  object-fit: contain;
  position: absolute;
  top: 173px;
  left: 200px;
}
